* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* color: #5D607E; */
}

header {
	background-color: #DEECEB;
	padding: 20px;
	display: flex;
	align-items: center;
}

header img {
	height: 50px;
}



section {
	padding: 20px 0;
}

p, h1, h2 {
	padding: 20px;
}